*
!.gitignore
!nvim
!nvim/**
!kitty
!kitty/**
!mise
!mise/**
!zsh
!zsh/**
!paperwm
!paperwm/**
!systemd
!systemd/**
!aerospace
!aerospace/**
!borders
!borders/**
!lazygit
!lazygit/**
!Brewfile
zsh/.zsh_history
