*
!.gitignore
!nvim
!nvim/**
!kitty
!kitty/**
!mise
!mise/**
!zsh
!zsh/**
!paperwm
!paperwm/**
!systemd
!systemd/**
!aerospace
!aerospace/**
!borders
!borders/**
!lazygit
!lazygit/**
!Brewfile
!sketchybar
!sketchybar/**
!scooter
!scooter/**
!zk
!zk/**
!opencode
!opencode/**
zsh/.zsh_history
zsh/.zsh_secrets
*.local
