export CONTEXT7_API_KEY=
export JIRA_API_KEY=
export CONFLUENCE_API_KEY=
export JIRA_URL=
export CONFLUENCE_URL=
export ATLASSIAN_USERNAME=
export FIGMA_API_KEY=
export EXA_API_KEY=
export WAFER_API_KEY=
export TRILIUM_TOKEN=
export HF_TOKEN=
export DEEPSEEK_API_KEY=
export KIMI_API_KEY=
export NEURALWATT_API_KEY=
export DEEPINFRA_API_KEY=
